<div class="flex-container">
  <div>
    Success! Please use this link:
  </div>
  <div>
    {{#if shortUrl}}
    <div class="shortURL">
      <a class="shorturllink" href="{{indexUrl}}/{{shortUrl}}">{{indexUrl}}/{{shortUrl}}</a>
    </div>
    {{/if}}
  </div>
  <div class="btn">
    <button class="btn btn-success" type="submit" id="copyBtn" onclick="copy()">COPY</button>
  </div>
  {{!-- 使用COPY按鈕複製縮短後的網址 --}}
  <script>
    function copy() {
      const link = document.querySelector('.shorturllink')
      window.getSelection().selectAllChildren(link)  //獲取要複製的內容
      document.execCommand("copy")  //進行複製操作
      alert("已複製網址")
    }
  </script>
</div>