<div class="flex-container">
  <div>
    Success! Please us this link:
  </div>
  <div>
    {{#if shortUrl}}
    <div class="shortURL">
      <a href="{{indexUrl}}/{{shortUrl}}">{{indexUrl}}/{{shortUrl}}</a>
    </div>
    {{/if}}
  </div>
  <div class="btn">
    <button class="btn btn-success" type="submit" id="copyBtn">
      COPY
    </button>
  </div>
</div>