<div class="container">

  <div class="title">
    URL Shortener <i class="fas fa-cut"></i>
  </div>
  <img src="https://www.adalphatech.com/wp-content/uploads/2019/11/URL-shortener.jpg" alt="error" style="width:250px;">
  <div></div>
  <div class="btn btn-success">COPY</div>
</div>