/* index.hbs */
#title{
  font-size: 50px;
  font-family: fantasy, monospace, sans-serif;
  color: #592764;
}
img{
  width: 300px;
}
.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#shortenBtn{
  margin-top: 10px;
  width: 100px;
  border: 2px solid ;
  border-radius: 30px;
}

#inputURL{
  border:1px solid rgb(118, 121, 121);
  width: 30rem;
  height: 2.5rem;
}
span{
  color: red;
  font-size: 50px;
}
/* urlshorter.hbs */
#copyBtn{
  margin-top: 10px;
  width: 100px;
  border: 2px solid ;
}

